body h1{
    font-family: 'Bebas Neue', cursive;
}
.upper-main{
    background-color: #FFFBF0;
}
.logo img{
    width: 50%;
}
.profile-img img{
    width: 80%;
}

.button-color{
    background-color: #8CA724;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}
.button-color:hover{
    color: #ffffff;
}
#orange{
    color: #FABE4C;
    font-size: 50px;
    font-weight: 700;
}
.blue{
    color: #363958;
    font-size: 50px;
    font-weight: 700;
}
.money{
    font-size: 30px;
    font-weight: 700;
    color: #FABE4C;
    margin-left: 10px;
}
.card{
    border: 0em;
    border-radius: 5px;
}

.card-image{
    max-width: 90%;
    background-color:#F1F1F1;
    margin:0 auto;
    margin-top: 5%;
    border-radius: 5%;
}
.image-resize{
    height: 300px;
}

.cart-section{
    margin-top: 100px;
    height: 400px;
}
.logo-title h2{
    color: #3A3D5B;
    font-size: 23px;
    font-weight: 700;
    margin-top: 15px;
    text-align: justify;
    word-spacing: -4px;
    margin-bottom: 15px;
}
.logo-title h4{
    font-size: 15px;
    color: #8C8C8C;
    margin-right: 10px;
    font-family: sans-serif;
    text-align: justify;
}
.logo img{
    width: 50%;
    margin-left: 20px;
    height: 65px;
}
.cart-right img{
    max-width:85%;
}

.view-btn{
    margin-left: 10px;
}
.black-btn{
    width: 60px;
    background-color: black;
    color: white;
}
